h1{
    text-align:center;
    font-size:50px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

hr {
    height: 20px;
    background-color: #8b1824;
}


.container{
  
    text-align:center;
   
}