canvas {
  background-color: #f8f8f8; /* very light gray */
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
}

.chart-container {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  background-color: #f8f8f8; /* light gray so lines are visible */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}


.navbar {
  text-align: right;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:larger;
  padding-right: 60px;
  
}


.navbar a{
  color:#FBFBFB

}

.navbar a:hover,
.navbar a.active {
  color:#130A02
}

.button {
  background-color: #8b1824;
  color: white;
  padding: 40px 150px;
  border: none;
  font-size:30px;
  border-radius :10px;
  cursor: pointer;
  margin:5px;
}

hr {
  height: 20px;
  background-color: #8b1824;
}


.navbar a.button1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8b1824; /* Blue background */
  text-decoration: none;     /* No underline */
  border-radius: 5px;        /* Rounded corners */
  margin: 5px;               /* Space around buttons */
}

h1{
  text-align:center;
  font-size:50px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}